@import "tailwindcss";
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
/*  background: #f5f5f5; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: linear-gradient(to right, #e8e8f0, #ffffff);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
  font-weight: 800;
  font-size: 22px;
  color: #1d1b3a;
  letter-spacing: 1px;
}

.menu a {
  text-decoration: none;
  color: #1d1b3a;
  margin: 0 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #6a4df5;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
html { scroll-behavior: smooth; }
